<header class="header">
    <div class="row">
            <div class="col-sm-3">
                <img class="logoImage" src="../assets/image/logo.png">
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-6">
                      <div class="search">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control" placeholder="Have a question? Ask Now">
                        <button class="btn btn-primary">Search</button>
                      </div>
                    </div>
                    <div class="col-sm-2 mt-2 icons">
                        <span><i class="bi bi-bell"></i></span>
                        <span class="person-cercle"><i class="bi bi-person-circle"></i></span>
                    </div>
                  </div>
            </div>
    </div>
</header>