.taxrates-header-section {
    height: 100px;
    padding-top: 20px;
    background-image: url('../../assets/image/bg.png');
    color: #fff;
    padding-left: 40px;
}

.taxrates-content-section {
    padding: 30px 30px 30px 40px;
}
.how-work {
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: -1px;
    margin-bottom: 20px;
}
.custom-range-data { width: 57px; }
.how-work-details { margin-top: 20px;}
.display-flex { 
  display: flex;
  flex-direction: row;
}

.display-flex div:last-child {
  margin-left: auto;
}
.mat-form-field-input { width: 70px; }
.work-details {
  width: 30%;
  margin-right: 35px;
  text-align: left;
  line-height: 29px;
  font-size: 11px;
}

.how-work-label-section { height: 20px; }
.how-work-label-validation { 
    font-size: 10px;
    color: #ff0000;
    margin-top: -15px;
    padding-left: 2px;
}
.range { width: 100%; margin-top: -10px;}
.range-right { margin-left: 10px;}
.conversions { width: 50%;}
/* Range */
.custom-range {
    width: 100%;
    outline: none;
  }

  ::ng-deep .taxrates .mat-slider-track-fill {
    background-color: #000000 !important;
  }
  
  ::ng-deep .taxrates .mat-slider-thumb-label {
    background-color: #000000 !important;
  }
  
  ::ng-deep .taxrates .mat-slider-thumb {
    background-color: #000000 !important;
  }

  ::ng-deep .taxrates .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0px 0px 5px 0px !important;
      width: auto !important;
  }

  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}