<h1>Tax Details</h1>
<div>Current Tax Rate: {{taxDetails['currentTaxRate'].value}}</div>
<div>Divident Tax Rate: {{taxDetails['dividentTaxRate'].value}}</div>
<div>Gain Tax Rate: {{taxDetails['gainTaxRate'].value}}</div>
<div>Annual Rate: {{taxDetails['annualRate'].value}}</div>
<div>Dividened Yield: {{taxDetails['dividenedYield'].value}}</div>
<div>Cash Yield: {{taxDetails['cashYield'].value}}</div>
<div>IRA Balance: {{taxDetails['iraBalance'].value}}</div>
<div>IRA Contribution: {{taxDetails['iraContribution'].value}}</div>
<div>IRA Basis: {{taxDetails['iraBasis'].value}}</div>
